// FONTS
@import "custom/fonts";

// general
@import "custom/general";

// components
@import "components/buttons";
@import "components/breadcrumb";

// structure
@import "custom/structure/topnav";
@import "custom/structure/footer";

// pages
@import "custom/pages/helper";
@import "custom/pages/hero";
@import "custom/pages/countdown";
@import "custom/pages/portfolio";
@import "custom/pages/contact";

// Plugins
@import "custom/plugins/swiper-slider";
@import "custom/plugins/choices";
@import "custom/plugins/datepicker";

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
}
